@import "utils";
@import "iconfont/iconfont.css";

[v-cloak] {
  display: none;
}

/*框架CSS*/
* {
  //-webkit-overflow-scrolling: touch;
  //-webkit-transform: translate3d(0, 0, 0);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html {
  color: #222222;
  background: #f9f9f9;
  font-weight: 400;
}

html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Microsoft Yahei', '宋体', Arial;
  /*background: #ebebeb;*/
  width: 100%;
}

html, body, #app {
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  //font-size: pxToRem(32);
  font-size: 18px;
}

section {
  display: block;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

#app {
  //max-width: 750px;
}

/*产品CSS*/
.link {
  cursor: pointer;
  &:hover {
    color: $main_color;
  }
}

.btn{
  background-color: $main_color;
  border-color: $main_color;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 600;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background: $sub_color;
    border-color: $sub_color;
  }
}

//栅格化
.row {
  overflow: hidden;
  .col {
    float: left;
    &-3{
      width: 12.5%;
    }
    &-6{
      width: 25%;
    }
    &-8 {
      width: 33.3333%;
    }
    &-12{
      width: 50%;
    }
    &-24{
      width: 100%;
    }
  }
}
