$img_root: '../assets/img/';
$main_color: #2a68c9;

/*函数*/
@function pxToRem($px) {
  @return $px / 40 * 1rem;
}

@mixin display-flex() {
  display: flex;
  display: -webkit-flex;
}

@mixin flex($val) {
  flex: $val;
  -webkit-flex: $val;
}

@mixin align-items($val) {
  align-items: $val;
  -webkit-align-items: $val;
}

@mixin justify-content($val) {
  justify-content: $val;
  -webkit-justify-content: $val;
}

@mixin flex-direction($val) {
  flex-direction: $val;
  -webkit-flex-direction: $val;
}

